body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 300px;
    
    box-sizing:border-box;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}

header img {
    max-width: 80px;
    border-radius:25%;
     ;
}

section {
    padding: 20px;
}

h1, h2 {
    color: #333;
}

.project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
}
